<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>polls</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'polls/style.css' %}" />
  </head>
  <body>
    <h2>Login</h2>
    <form method="post" action="{% url 'polls:login' %}">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
